<div class = "row">
  <div class="col-md-6">
    <h2>
      {{ contact.firstName }} {{ contact.lastName }}
    </h2>
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-2">
    <a href="#/"><button style="margin-top:20px" class="btn btn-default" ng-click="deleteContact(contact._id)">Delete</button></a>
  </div>
  <div class="col-md-1">
  </div>
</div>
<div ng-hide="editMode" class="container">
  <div>
    <p ng-if="contact.email">Name: <a ng-href="mailto:{{ contact.email }}" target="_blank">{{ contact.email }}</a></p>
    <p ng-if="contact.phone.mobile">Subname: {{ contact.phone.mobile }} </p>
    <p ng-if="contact.phone.work">Count: {{ contact.phone.work }} </p>
    <p ng-if="contact.address"> Numbers range: {{ contact.address }} </p>
    <p ng-if="contact.twitter"> Release Date: <a ng-href="https://twitter.com/{{ contact.twitter }}" target="_blank">@{{ contact.twitter }}</a></p>
    <!-- country, description, faceImg, reverseImg, faceImgDescription, reverseImgDescription, likes, users, possesing -->
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="toggleEdit()">Edit</button>
      <a style="margin-top:20px" class="btn btn-default" href="#/">Back</a>
    </p>
  </div>
</div>
<div ng-include="contactFormUrl">
</div>