
<div class='panel panel-primary'>
	<div class='panel header'>
		<h4>Collections list</h4>
	</div>
	<div class='panel body'>
		<div class='row'>
			<div class='col-md-2'><h3>Filter by:</h3></div>
			<div class='col-md-4'>
				<input type='text'>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-6'><h2>Filtered by:</h2></div>
		</div>
		<div class='table responsive'>
			<table class='table' *ngIf='collections && collections.length'>
				<thead>
					<tr>
						<th>Category</th>
						<th>Type</th>
						<th>Subtype</th>
						<th>Name</th>
						<th>Set</th>
						<th>Count</th>
						<th>Numbers range</th>
						<th>Release date</th>
						<th>Country</th>
						<th>Description</th>
						<th>Face image</th>
						<th>Reverse image</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor='let collection of collections'>
						<td>{{ collection.category }}</td>
						<td>{{ collection.type }}</td>
						<td>{{ collection.subtype }}</td>
						<td>{{ collection.name }}</td>
						<td>{{ collection.set }}</td>
						<td>{{ collection.count }}</td>
						<td>{{ collection.numbersRange }}</td>
						<td>{{ collection.releaseDate }}</td>
						<td>{{ collection.country }}</td>
						<td>{{ collection.description }}</td>
						<td><img src='{{collection.faceImage}}' width='100px'></td>
						<td><img src='{{collection.reverseImage}}' width='100px'></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>